<% content_for :titulo, "Registrando Compra" %>

<!body class="pantalla_construccion"></body>

<h2>Registrando Entrega de Compra</h2>


<%= render 'formR', compra: @compra %>

<h3><%= link_to 'Regresar al listado de Compras para Entregar', listado_compras_para_entregar_path %></h3>




