@import "bootstrap-sprockets";
@import "bootstrap";

@import "entrada";
@import "usuarios";
@import "hall";
@import "pared";
@import "construccion";
@import "compras";
@import "market";

th .current {
  padding-right: 18px;
  background-size:initial;
  background-repeat: no-repeat;
  background-position: right;
}

th .ini { 
  background-image: url(asset-path('scroll.png')); 
}

th .asc { 
  background-image: url(asset-path('up.png')); 
}

th .desc { 
  background-image: url(asset-path('down.png')); 
}

 .carrito-vacio:before { 
    content: url(asset-path('carrito-32-vacio-rojo.png'));
}

 .carrito-lleno:before {
    content: url(asset-path('carrito-32-lleno-rojo'));
}
 
 .login:before {
    content: url(asset-path('login'));
}

 .usuario:after {
    content: url(asset-path('usuario'));
}