body.pantalla_construccion {
background:url(asset-path('en-construccion.jpg')) 0px 0px;
background-size:cover; 
background-size:100% 100%;
background-repeat:no-repeat;
background-attachment:fixed;
height:100%;
}

